@model UserJob

<div class="span12" style="margin-left: 0;">
    <div class="control-group">
        @Html.LabelFor(model => model.Comments, new {@class = "control-label"})
        <div class="controls form-text">
            @Html.DisplayFor(model => model.Comments)
        </div>
    </div>
</div>