@{
    ViewBag.Title = "PI Home";
    ViewBag.SubPageTitle = "PI Home";
}

<ul type="circle">
    <li>
        @Html.ActionLink("Manage Users", "Users")
    </li>
    <li>
        @Html.ActionLink("Recharge Accounts", "RechargeAccounts")
    </li>
</ul>