@{
    ViewBag.Title = "PI Home";
    ViewBag.SubPageTitle = "PI Home";
}

<div class="row-fluid main-menu">
    
    <a href="@Url.Action("Users")" class="span6 img-rounded">
        <img src="@Url.Content("~/Images/users.png")"/>
        <h4>Manage Users</h4>
    </a>
    <a href="@Url.Action("RechargeAccounts")" class="span6 img-rounded">
        <img src="@Url.Content("~/Images/accounts.png")"/>
        <h4>Recharge Accounts</h4>
    </a>

</div>