@{
    ViewBag.Title = "Contact Us";
    ViewBag.SubPagetitle = "Contact Us";
}

@section scripts
{
    <style type="text/css">
        .contact-label { font-weight: 700;}
    </style>
}

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="contact-label">Phone:</span>
        <span>(530) 754-6616</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="contact-label">Facility Director:</span>
        <span><a href="mailto:drcook@ucdavis.edu">Douglas Cook (drcook@ucdavis.edu)</a></span>
    </p>
    <p>
        <span class="contact-label">Lab Researcher:</span>
        <span><a href="mailto:noecarras@ucdavis.edu">Noelia Carrasquilla (noecarras@ucdavis.edu)</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        117 Robbins Hall, UC Davis<br />
        Davis, CA 95616<br/>
        <a href="https://maps.google.com/maps?q=robbins+hall,+uc+davis&hl=en&ll=38.540748,-121.748278&spn=0.012084,0.013883&sll=38.232579,-122.033493&sspn=0.194171,0.107803&hnear=Robbins+Hall,+Davis,+California+95616&t=m&z=16">Map</a>
    </p>
</section>