@{
    ViewBag.Title = "FAQ";
}

<ul>
    <li><a href="#SampleSubmission">General guideline for sample submission</a></li>
    <li><a href="#EColiSample">E.coli sample submission for sequencing?</a></li>
    <li><a href="#PCRProductSubmission">PCR product submission for sequencing?</a></li>
    <li><a href="#CommonlyUsedEquipments">What are the commonly used equipments?</a></li>
    <li><a href="#NewUserPI">New user or PI?</a></li>
    <li><a href="#OffCampusUseCGF">I work off campus, can I use the CGF?</a></li>
</ul>

<a id="SampleSubmission"></a>
<div class="spacer">&nbsp;</div>
<h3>General guideline for sample submission</h3>
<ol>
    <li>We accept and process samples in either 96- or 384-well plate format.
    <li>Before you bring your samples to CGF, submit your sample information into our database via the CGF web page (http://cgf.ucdavis.edu).
    <li>You need to have an account in our system to submit samples to CGF.
    <li>If you are a new user or PI, register yourself as a new user or PI in our web page. See the ‘New user or PI’ section of our FAQ page.
    <li>Once registration is done, you’ll be able to login as a user or a PI.
    <li>After login as a user, choose your sample category to enter information about your samples.
    <li>You will be asked a series of questions regarding your samples such as job name, number of samples, format of your plates (96/384), etc.  
</ol>

[<a href="#top">Top</a>]
<br>
<hr>
<!-- ---------------------------------------------------------- -->

<a id="EColiSample"></a>
<div class="spacer">&nbsp;</div>
<h3>E.coli sample submission for sequencing?</h3>

<p>CGF takes samples in either 96- or 384-well format.</p>
<p>We recommend to make an extra copy of your E.coli plate(s) for CGF sequencing using a freezer medium (the recipe below).  You need inoculate your bacteria on the medium and culture overnight to bring to CGF.</p>
<p>Another option is LB medium with 0.8% of glycerol which will keep your E.coli alive during the melting-freezing process. It will be better to bring frozen plate(s) to keep your clones from cross-contamination.  Contact CGF staff for additional information.</p>

<h4>Freezing Medium</h4>

<table>
<tr>
  <td width=200>Ingredients (1 liter)</td>
  <td>Amount</td>
</tr>
<tr>
  <td>Yeast extract</td>
  <td>5 g</td>
</tr>
<tr>
  <td>Tryptone</td>
  <td>10 g</td>
</tr>
<tr>
  <td>NaCl</td>
  <td>10 g</td>
</tr>
<tr>
  <td>KH2PO4</td>
  <td>1.80 g</td>
</tr>
<tr>
  <td>K2HPO4</td>
  <td>6.27 g</td>	
</tr>
<tr>
  <td>Sodium citrate</td>
  <td>0.50 g</td>
</tr>
<tr>
  <td>(NH4)2SO4</td>
  <td>0.90 g</td>
</tr>
<tr>
  <td>Glycerol</td>
  <td>44 ml</td>
</tr>
</table>

<br>
<b>Autoclave, cool to room temp then add:</b><br>

<table>
<tr>
  <td width=200>1 M MgSO4 * 7 H2O</td>
  <td>0.4 ml</td>
</tr>
<tr>
  <td>(filter sterilized)</td>
  <td>&nbsp;</td>
</tr>
</table>

<p>Add appropriate antibiotic</p>

[<a href="#top">Top</a>]
<br />
<hr />
<!-- ---------------------------------------------------------- -->

<a id="PCRProductSubmission"></a>
<div class="spacer">&nbsp;</div>
<h3>PCR product submission for sequencing?</h3>

<p>For sequencing of PCR product or purified DNA, we need to have your fragments with normalized concentration.  Here is a general idea on DNA quantity for sequencing PCR products.</p>

<p>PCR products</p>
<table>
  <tr><td width=200>100-200 bp</td>
      <td>1-3 ng</td>
  </tr>
  <tr><td>200-500 bp</td>
      <td>3-10 ng</td>
  </tr>
  <tr><td>500-1000bp</td>
      <td>5-20 ng</td>
  </tr>
  <tr><td>1000-2000 bp</td>
      <td>10-40 ng</td>
  </tr>
  <tr><td>2000 bp or more</td>
      <td>40-100 ng</td>
  </tr>
</table>

<p>Plus, 5 pmole of your primer for each reaction.</p>

<p>If user can, adjust the final volume with WATER to make 5ul.  If the volume is too much variable, user just brings samples with primer to CGF and our staff will dry them down.  High conc of EDTA (from TE buffer) inhibits BigDye reaction. Try not to use too much EDTA in your DNA samples.</p>

<br/><br/>

[<a href="#top">Top</a>]
<br />
<hr />
<!-- ---------------------------------------------------------- -->
    
<a id="CommonlyUsedEquipments"></a>
<div class="spacer">&nbsp;</div>
<h3 id="nothing">What are the commonly used equipments?</h3>

<ol>
 <li><em>Beckman Allegra</em> refrigerated centrifuge for 96 or 384 well plate applications</li>
 <li><em>Savant Speed Vac</em> equipped for 96 or 384 well plate applications</li>
 <li><em>MJ Research Tetrad PCR</em> machine, including 96- and 384- sample blocks</li>
 <li><em>Biorad Real Time PCR</em> machine</li>
 <li><em>GeneMachines Hydroshear</em> for DNA fragmentation</li>
 <li><em>GeneMachines HiGro</em> for 96 or 384 well plate colony growth</li>
 <li><em>Biorad Fluor S Multi-imager gel</em> documentation system</li>
 <li><em>Biorad CHEF gel system</em></li>
 <li><em>Biorad electorporator</em></li>
</ol>

[<a href="#top">Top</a>]
<br/>
<hr/>
<!-- ---------------------------------------------------------- -->

<a id="NewUserPI"></a>
<div class="spacer">&nbsp;</div>
<h3>New user or PI?</h3>

<ol>
  <li>If you are a new user, you have to register as a new user in our system.</li>
  <li>Before doing the new user registration, if your PI has registered as a PI, you can ask her/him to list your name under one of her/his account number.  Otherwise, your PI needs to register as a new PI and enter your name first.</li>
  <li>New PI needs to contact Noelia Carrasquilla (noecarras@ucdavis.edu, 530-754-6616) to register as a new PI in our database. You will be asked for your contact/account information such as department, e-mail, DaFIS and account number. PI can add name and e-mail of lab member who is using our service under your account by logging in as a PI in our website. </li>
  <li>Contact Noelia Carrasquilla (noecarras@ucdavis.edu, 530-754-6616) if you have problems or questions regarding this process.</li>
  <li>Now you can register yourself as a new user to setup your password for login. Your user name will be your e-mail address your PI entered under her/his account. </li>
  <li>Once you are done with the new user registration, you’re ready to login as a user and request for our service.  </li>
</ol>

[<a href="#top">Top</a>]
<br/>
<hr/>

<a id="OffCampusUseCGF"></a>
<div class="spacer">&nbsp;</div>
<h3>I work off campus, can I use the CGF?</h3>

<p>Yes, you can use our service.</p>
<p>But, by the UCD policy, you will pay 29% of non-university differential (NUD) in addition to our standard recharge rate.</p>
<p>If this is your first time to use our service, you need to first register yourself as a new user to submit your sample information on our web page before sending your sample(s). Contact Noelia Carrasquilla (noecarras@ucdavis.edu, 530-754-6616) to process the new user registration for off-campus users.</p>

[<a href="#top">Top</a>]