@{
    ViewBag.Title = "CAES Genomics Facility";
    ViewBag.SubPageTitle = "WELCOME to the CAES Genomics Facility!";
}
@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h8group class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}*@

<p>
    The CAES Genomics Facility (CGF) provides campus researchers with genomics technologies for use in individual and collaborative research programs. The facility provides low-cost DNA sequencing, houses robotics instrumentation for liquid handling, colony picking and sample preparation, and administers computer hardware and software resources for use in sequence interpretation and related data analyses. The CGF will also incorporate additional technologies, e.g., genotyping and transcriptional profiling, when technically appropriate and if there is sufficient need. 
</p>