@{
    ViewBag.Title = "Sequencing and Genotyping Service Rates";
    ViewBag.SubPageTitle = "Sequencing and Genotyping Service Rates";
}

@section scripts
{
    <style type="text/css">
    .row-fluid .span5 { margin-left: 0; }
    </style>
}

<h4>Sequencing from Bacterial Colony</h4>
<p>Includes Rolling Circle Amplification, cycle sequencing reaction, cleanup, sequencing and analysis</p>
<div class="row-fluid">
    <div class="span5">First direction, 96 - 960 samples</div>
    <div class="span7">$3.50</div>
    <div class="span5">First direction, 1,056+</div>
    <div class="span7">$2.50</div>
    <div class="span5">Second direction, 96 - 960 samples</div>
    <div class="span7">$3.00</div>
    <div class="span5">Second direction, 1,056+ samples</div>
    <div class="span7">$2.50</div>
</div>

<h4>Sequencing from purified DNA (PCR or plasmid)</h4>
<p>Includes cycle sequencing reaction, cleanup, sequencing and analysis</p>
<div class="row-fluid">
    <div class="span5">96 - 960 samples</div>
    <div class="span7">$3.00</div>
    <div class="span5">1,056+ samples</div>
    <div class="span7">$2.50</div>
</div>

<h4>Sequencing from Read to Run Samples</h4>
<p>Includes sequencing and analysis</p>
<div class="row-fluid">
    <div class="span5">96 - 480 samples</div>
    <div class="span7">$1.25</div>
    <div class="span5">576 - 2880 samples</div>
    <div class="span7">$0.83</div>
    <div class="span5">2,976+ samples</div>
    <div class="span7">$0.57</div>
</div>

<h4>BAC End Sequencing</h4>
<p>Includes BAC purification, cycle sequencing reaction, cleanup, sequencing and analysis</p>
<div class="row-fluid">
    <div class="span5">First direction</div>
    <div class="span7">$8.00</div>
    <div class="span5">Second direction</div>
    <div class="span7">$5.00</div>
</div>

<h4>Genotyping from Ready to Run Samples</h4>
<p> Includes addition of size standard and fragment analysis using ABI 3730XL capillary electrophoresis instrument</p>
<div class="row-fluid">
    <div class="span5">96 - 480 samples</div>
    <div class="span7">$1.55</div>
    <div class="span5">576 - 2880 samples</div>
    <div class="span7">$1.13</div>
    <div class="span5">2,976+ samples</div>
    <div class="span7">$0.87</div>
</div>

<p>*The cost is measured per sample</p>