@{
    ViewBag.Title = "Description of Services";
    ViewBag.SubPageTitle = "Description of Services";
}

@section scripts
{
    <style type="text/css">
        p a:link, p a { color: blue;}
    </style>
}
@*the extra breaks on this page are necessary so that the title is not hidden under the banner when linking from another page*@

<a id="DNASequencing"></a><br /><br />
<h4>DNA SEQUENCING AND GENOTYPING</h4>
<p>For purposes of DNA sequencing and genotyping, the CGF maintains one ABI 3730 XL capillary sequencer <a href="https://products.appliedbiosystems.com/ab/en/US/adirect/ab?cmd=catNavigate2&catID=601642" target=_blank>(Applied Biosystems)</a> with the capacity to handle up to 1536 reactions per day.</p>
<p>Please see our @Html.ActionLink("service rates", "Rates") sheet for prices and brief descriptions of each service available.  For custom jobs or further information please contact Jongmin Baek <a href="mailto:jbaek@ucdavis.edu"><em>jbaek@ucdavis.edu.</em></a></p>

<a id="Bioinformatics"></a><br /><br />
<h4>BIOINFORMATICS</h4>
<p>The CGF maintains computer and software resources for routine sequence analysis including PHRED, PHRAP, and Consed.  Following completion of a sequencing project, researchers can obtain chromatograms and PHRED-called sequences over the Web.  The facility also supports routine analyses such as vector trimming, clustering via MegaBLAST and CAP3, preparation of batch submission to NCBI, and automated annotation via BLAST.  Specialized formatting of data and relational database development are available on a custom basis.</p>

<a id="Robotics"></a><br /><br />
<h4>ROBOTICS</h4>
<p>The CGF maintains robotics equipment for high throughput processing of biological samples.  A <a href="http://www.genetix.com/instr/qbot.asp" target="_blank"><em >Genetix Q-BOT</em></a> multi-tasking robot is available for applications such as colony picking, library replication, and production of high-density filter arrays.  A <a href="http://las.perkinelmer.com/Catalog/ProductInfoPage.htm?ProductID=MPII-HTPEX" target="_blank"><em>PerkinElmer MultiPROBE II</em></a> (two arm, eight pin robot) and two Q-fill liquid dispensing systems are available for liquid handling applications.  Protocols have been developed for magnetic bead extraction of high copy plasmid DNA at low per-sample cost.  Users with other robotic application needs are encouraged to discuss recharge rates and protocol development with CGF personnel.</p>
<br />
<h4>COMMON USE GENOMICS INSTRUMENTATION</h4>
<p>Certain equipment in the CGF will be available for use by campus researchers who are not housed in the CGF.  Such Common Use Equipment will be available to users only after suitable training by CGF personnel and at the discretion of the director.  Access to Common Use Equipment will be dependent on demand, scheduling and sensitivity of the equipment to multiple users.  The CGF has developed a <a href="monitoredUse.php"><em class="style1">Monitored Use Policy</em></a> that governs access to Common Use Equipment.  Please consult <a href="contact.php"><em>CGF personnel</em></a> for the Monitored Use Policy.</p>
<blockquote>
    <h5>Equipment currently available for common use includes:</h5>
    <ul>
         <li><em class="style1">Beckman Allegra</em> refrigerated centrifuge for 96 or 384 well plate applications</li>
         <li><em class="style1">Savant Speed Vac</em> equipped for 96 or 384 well plate applications</li>
         <li><em class="style1">MJ Research Tetrad PCR</em> machine, including 96- and 384- sample blocks</li>
         <li><em class="style1">GeneMachines Hydroshear</em> for DNA fragmentation</li>
         <li><em class="style1">GeneMachines HiGro</em> for 96 or 384 well plate colony growth</li>
         <li><em class="style1">Biorad Fluor S Multi-imager gel</em> documentation system</li>
         <li><em class="style1">Biorad electorporator</em></li>
     </ul>
</blockquote>
<br />
<h4>CUSTOM APPLICATIONS</h4>
<p>The CGF will also work with clients to implement protocols not in routine use in the laboratory.  Examples of such protocols include paired-end BAC sequencing, shotgun sequencing and assembly of BAC clones, and specialized genotyping applications.  Recharge rates and availability of custom services will be determined on a case-by-case basis, and will depend on staff availability.</li> 