<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CAESGenome.Transfer.Properties.Settings.CgfOldConnectionString"
            connectionString="Data Source=vogel;Initial Catalog=CgfOld;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>