@{
    ViewBag.Title = "Authorized Home";
    ViewBag.SubPageTitle = "Authorized Home";
}

<ul type="circle">
    <li>@Html.ActionLink("Open Jobs", "OpenJobs")</li>
</ul>

@Html.ActionLink("Submit Sequencing Job", "Create", "Sequencing", new {}, new {@class="btn btn-large btn-primary"})

@Html.ActionLink("Submit Genotyping Job", "Create", "Genotyping", new {}, new {@class="btn btn-large btn-primary"})

@Html.ActionLink("Submit Qbot Job", "Create", "Qbot", new {}, new {@class="btn btn-large btn-primary"})