@model GenotypingViewModel

@using(Html.BeginForm("Create", "Genotyping", FormMethod.Get))
{
    <h3>Genotyping</h3>

    <ul class="unstyled">
        @foreach(var jt in Model.JobTypes.OrderBy(a => a.Id))
        {
            <li>
                <label class="checkbox">
                    @Html.RadioButton("id", jt.Id)
                    @Html.Raw(jt.DisplayName)
                </label>
            </li>
        }
    </ul>

    <h3>Other Custom Jobs</h3>
    
    <p>Contact CGF Staff - Jongmin Baek <a href="mailto:jmbaek@ucdavis.edu">jmbaek@ucdavis.edu</a></p>
    
    <input type="submit" value="Open Job" class="btn btn-primary"/>
}